.topic {
  box-sizing: border-box;
  padding: 10px 0 0 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  max-width: 732px;

  app-next-step {
    padding: 10px 0 10px;
  }
}

.topic-part-youtube {
  max-width: 100%;
  max-height: 100%;

  iframe {
    max-width: 100%;
    max-height: 100%;
  }
}

.topic-part-tasks {
  background-color: lightblue;
  padding: 10px;
  margin-bottom: 10px;
}
