.topic {
  box-sizing: border-box;
  padding: 10px 0 0 10px;
  display: flex;
  height: 100%;
  flex-direction: column;

  p {
    max-width: 780px;
  }

  ul {
    max-width: 740px;
  }

  pre {
    overflow-x: scroll;
  }
}

.topic-part-youtube {
  max-width: 100%;
  max-height: 100%;

  iframe {
    max-width: 100%;
    max-height: 100%;
  }
}

.topic-part-tasks {
  background-color: lightblue;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  padding: 10px 0 10px;
}
