<mat-sidenav-container>
  <mat-sidenav class="nav-topics" mode="side" opened disableClose>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20">
        <button mat-button class="node-button-padding"
                matTooltipPosition="after"
                [matTooltip]="node.name"
                [routerLink]="'topic/' + node.id"
                routerLinkActive="active-list-item">
          <mat-icon class="white-icon">fiber_manual_record</mat-icon>
          {{node.name}}
        </button>
        <span class="accepted">
            <mat-icon *ngIf="node.acceptedProblemsAmount === node.totalProblemsAmount">check</mat-icon>
        </span>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20">
        <button mat-button matTreeNodeToggle
                matTooltipPosition="after"
                [matTooltip]="node.name"
                (click)="expandOneCollapseOther(node)"
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
          {{node.name}}
        </button>
        <span class="accepted">
            <mat-icon *ngIf="node.acceptedProblemsAmount === node.totalProblemsAmount">check</mat-icon>
        </span>
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
