mat-sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav-content {
    order: 1;
  }

  mat-sidenav {
    order: 2;
  }
}

.mdc-button {
  align-items: inherit;
  justify-content: start;
  width: -webkit-fill-available;
}

button {
  width: -moz-available;
}

.white-icon {
  font-size: 10px;
  height: 10px;
}

.node-button-padding {
  padding-left: 8px;
}

.status {
  width: 50px;
}

.descr {
  display: none;
}

.mat-expansion-panel-header:hover {
  color: black;
}


mat-nav-list {
  .poster {
    position: relative;
    color: #808080;

    &:hover {
      color: black;
    }

    &:hover .descr {
      display: block;
      margin-right: 16px;
    }
  }
}

.nav-topics {
  width: 320px;
}

.active-list-item {
  color: #0052cc;
  //color: #673ab7; /* Note: You could also use a custom theme */
}

.accepted {
  color: lightgreen;
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  mat-sidenav-container {
    position: relative;
    top: 0;

    .nav-topics {
      width: 100%;
    }
  }

  mat-sidenav {
    position: relative;
  }

  mat-sidenav-content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
    clear: both;
    margin-left: 0 !important;
    padding-bottom: 16px;
  }
}
