<mat-sidenav-container>
  <mat-sidenav class="nav-topics" mode="side" opened disableClose>

    <mat-accordion>
      <mat-expansion-panel [expanded]="isOpened(topic)" hideToggle *ngFor="let topic of topics">
        <mat-expansion-panel-header expandedHeight="48px" class="panel-header-title-custom">

          <mat-panel-title *ngIf="!hasAvailableLessons(topic.lessons)" class="title-lock">
            <div class="black">
              {{topic.name}}
            </div>
            <mat-icon class="topic-icon-lock">
              lock
            </mat-icon>
          </mat-panel-title>

          <mat-panel-title *ngIf="hasAvailableLessons(topic.lessons)" class="panel-header-title-custom-available">
            <div class="title-topic">
              {{topic.name}}
            </div>
            <mat-icon *ngIf="getAcceptedInTopic(topic.lessons)" class="green-check-topic">
              check
            </mat-icon>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-nav-list *ngFor="let lesson of topic.lessons">

          <mat-list-item *ngIf="availableLessons.has(lesson.id)"
                         [routerLink]="'lesson/' + lesson.id"
                         routerLinkActive="active-list-item">
            <div mat-line>
              {{lesson.name}}
            </div>
            <div class="status">
              <mat-icon *ngIf="getAcceptedInLesson(lesson)" class="green-check-lesson">
                check
              </mat-icon>
            </div>
          </mat-list-item>

          <mat-list-item *ngIf="!availableLessons.has(lesson.id)"
                         mat-list-item title="Выполните задания предыдущего урока"
                         class="poster">
            <div mat-line>
              {{lesson.name}}
            </div>
            <div class="status">
              <mat-icon class="descr">
                lock
              </mat-icon>
            </div>
          </mat-list-item>
        </mat-nav-list>

      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-chat></app-chat>
