<div style="height: 30px">
  <button routerLink="plan" *ngIf="futurePlan" mat-button style="height: 30px">

    <mat-progress-bar *ngIf="futurePlan.status === 'Active' && !planCompleted"
                      class="progress"
                      mode="determinate"
                      value="{{count}}">
    </mat-progress-bar>

    <div *ngIf="futurePlan.status === 'Active' && !planCompleted">

      <div class="timer" *ngIf="seconds <= secondsInDay">
        <span>Осталось: </span>
        <countdown #cd [config]="{leftTime: seconds, format: 'HH:mm:ss'}" (event)="onEvent($event)"></countdown>
      </div>

      <div class="timer" *ngIf="seconds > secondsInDay">
        <span>Осталось </span>
        <countdown #cd [config]="{leftTime: seconds, format: 'd'}"></countdown>
        <span>{{day | i18nPlural: days:'ru'}}</span>
      </div>

    </div>

    <mat-progress-bar *ngIf="futurePlan.status === 'Available'" class="progress available"></mat-progress-bar>
    <mat-progress-bar *ngIf="futurePlan.status === 'Expired'" class="progress expired"></mat-progress-bar>
    <mat-progress-bar *ngIf="futurePlan.status === 'Ended'" class="progress completed"></mat-progress-bar>
    <mat-progress-bar *ngIf="planCompleted" class="progress completed"></mat-progress-bar>

    <div class="timer">
      <span *ngIf="futurePlan.status === 'Available'">Активируйте план.</span>
      <span *ngIf="futurePlan.status === 'Ended'">Модуль пройден.</span>
      <span *ngIf="futurePlan.status === 'Expired'">План провален.</span>
      <span *ngIf="planCompleted">План выполнен.</span>
    </div>
  </button>
</div>
