<form>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" name="email" type="email">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Пароль</mat-label>
    <input matInput [(ngModel)]="password" name="password" type="password">
  </mat-form-field>

  <div>
    <button *appSpinOn="sending"
            (click)="login()"
            mat-raised-button color="primary"
            [disabled]="!(email && password)">
      Войти
    </button>
  </div>

  <br>
  <a routerLink="/reset">Забыли пароль?</a>
</form>

