<form>
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="email" name="email" placeholder="Email" type="email">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="password" name="password" placeholder="Пароль" type="password">
  </mat-form-field>

  <div>
    <button (click)="login()" mat-raised-button color="primary" [disabled]="!(email && password)" *ngIf="!sending">
      Войти
    </button>
    <mat-spinner *ngIf="(sending)" diameter="35"></mat-spinner>
  </div>

  <br>
  <a routerLink="/reset">Забыли пароль?</a>
</form>

