.topic {
  max-width: 1000px;
}

.topic-part-youtube {
  max-width: 100%;
  max-height: 100%;

  iframe {
    max-width: 100%;
    max-height: 100%;
  }
}

.topic-part-tasks {
  background-color: lightblue;
  padding: 10px;
  margin-bottom: 10px;
}

pre {
  font-family: monospace;
  padding: 10px;
  background-color: white;
}
