<div class="topic" *ngIf="topic">
  <h1>{{topic.title}}</h1>
  <div class="topic-part" *ngFor="let part of topic.parts">
    <div class="topic-part-text" *ngIf="part.text" [innerHTML]="part.text | marked"></div>
    <div class="topic-part-youtube" *ngIf="part.youtubeId">
      <iframe width="800" height="450"  [src]="generateYoutubeLink(part.youtubeId)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="topic-part-tasks" *ngIf="part.taskIds">
      <p>Ты уже можешь решить следующие задачи:</p>
      <ul>
        <li *ngFor="let id of part.taskIds"><a [routerLink]="'task/' + id">Задача #{{id}}</a></li>
      </ul>
    </div>
  </div>
</div>
