<mat-toolbar xmlns="http://www.w3.org/1999/html">
  <span *ngIf="!isPlanningMode">
    <button class="today-button"
            mat-icon-button
            mwlCalendarToday
            [(viewDate)]="viewDate"
            matTooltip='Сегодня'>
            <mat-icon>today</mat-icon>
    </button>
  </span>
  <span *ngIf="!isPlanningMode" class="change-week-button">
    <button mat-icon-button
            mwlCalendarPreviousView
            [view]="'week'"
            [(viewDate)]="viewDate"
            matTooltip='Предыдущая неделя'>
      <mat-icon>chevron_left</mat-icon>
    </button>
  </span>
  <span *ngIf="!isPlanningMode" class="change-week-button">
    <button mat-icon-button
            mwlCalendarNextView
            [view]="'week'"
            [(viewDate)]="viewDate"
            matTooltip='Следующая неделя'>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </span>
  <span class="example-spacer"></span>
  <span class="month-header">
    <h1 style="font-size: 30px">{{ viewDate | calendarDate:('weekViewTitle'): locale: weekStartsOn }}</h1>
  </span>
  <span class="example-spacer"></span>
  <span>
    <button *ngIf="!isPlanningMode"
            (click)="switchPlanningMode()"
            mat-button>
    Создать расписание
    </button>
  <mat-form-field *ngIf="isPlanningMode" appearance="legacy" class="datepicker">
  <mat-label>Время действия расписания</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date">
    <input matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>

  <button class="saveButton"
          *ngIf="isPlanningMode"
          (click)="createSchedule()"
          mat-button>
    Сохранить
  </button>
  <button *ngIf="isPlanningMode"
          class="today-button"
          mat-icon-button
          (click)="switchPlanningMode()"
          matTooltip='Отменить'>
          <mat-icon>clear</mat-icon>
  </button>

  </span>
  <span class="example-spacer"></span>


</mat-toolbar>
<ng-template
  #weekViewHourSegmentTemplate
  let-segment="segment"
  let-locale=locale
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
>
  <div
    #segmentElement
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    (mousedown)="startDragToCreate(segment, $event, segmentElement)"
  >
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | calendarDate:'dayViewHour':'ru' }}
    </div>
  </div>
</ng-template>

<mwl-calendar-week-view
  style="width: 80%"
  [viewDate]="viewDate"
  [events]="isPlanningMode ? events.concat(scheduleEvents) : events"
  [hourSegmentTemplate]="weekViewHourSegmentTemplate"
  [weekStartsOn]="weekStartsOn"
  [locale]="locale"
  [hourDuration]="60"
  [hourSegments]="4"
  [hourSegmentHeight]="16"
  [eventSnapSize]="20"
  [eventTemplate]=""
  [minimumEventHeight]="16"
  [weekendDays]=[0,6]
  (eventClicked)="eventClicked($event)">
</mwl-calendar-week-view>
