.feedback {
  box-sizing: border-box;
  padding: 10px 0 0 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  max-width: 732px;

  .button {
    padding: 10px 0 10px;
  }
}



mat-form-field {
  margin-right: 12px;
}
