<div class="feedback" *ngIf="problem">
  <h2>Отзыв #{{problem.id}}
    <app-button-copylink [problemId]="problem.id"></app-button-copylink>
  </h2>
  <div *ngIf="userAnswer && userAnswer.right">
    <h1>Вы уже оставляли свой отзыв</h1>
  </div>
  <div *ngIf="!wasAcceptedAnswerAndPageWasNotReloaded && userAnswer === null">
    <div *ngIf="problem.text" [innerHTML]="problem.text | marked"></div>
    <ng-container>
      <div class="rating">
            <span>
                Оценка {{rating.value}} из {{rating.max}}
            </span>
        <div>
          <ngx-material-rating [color]="rating.color" [(ngModel)]="rating.value" [max]="rating.max">
          </ngx-material-rating>
        </div>
      </div>
    </ng-container>

    <mat-form-field>
      <mat-label>Введите свой отзыв здесь</mat-label>
      <textarea matInput autocomplete="off" type="text" [(ngModel)]="UserFeedback"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5">
      </textarea>
    </mat-form-field>
  </div>
  <div class="button">
    <button *ngIf="!wasAcceptedAnswerAndPageWasNotReloaded && userAnswer === null"
            mat-raised-button color="primary"
            (click)="send()"
            [disabled]="!this.UserFeedback || !this.rating.value || disabledButton"
            title="Отправить">Отправить
    </button>
    <app-next-step *ngIf="userAnswer && userAnswer.right"
                   [problemId]="problemId"
                   [lessonId]="lessonId">
    </app-next-step>
  </div>
</div>
