.container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 5;
}

.row {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 20px;
}

.help-content {
  margin-top: 50px;
  max-width: 322px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);

  .close-button {
    float: right;
  }

  .header {
    line-height: 46px;
    font-size: 24px;
    text-align: center;
  }

  .content {
    padding: 1px 0;
    background-color: #0000000a;
    overflow-y: auto;
    max-height: 70vh;
    width: 100%;

    a {
      text-decoration: none;
    }

    .mat-mdc-card {
      margin: 10px;
      padding: 10px;
      cursor: pointer;

      .mat-mdc-card-header {
        margin: 0;
        padding: 0;

        .mat-mdc-card-title {
          font-size: 14px;
          margin: 0;
          color: #1a1b1f;
          padding: 0 16px 5px 16px;
        }

        .mat-mdc-card-subtitle {
          margin: 0;
        }

        .mat-icon {
          height: 30px;
          font-size: 30px;
          width: 30px;
        }

        .mat-mdc-card-avatar {
          width: 30px;
          height: 30px;
          background-size: cover;
          color: #1a1b1f;
        }
      }
    }
  }

  .full-width {
    width: 100%;
  }
}

.help-button {
  background-color: #1a1b1f;
  width: 60px;
  height: 60px;

  mat-icon {
    color: white;
    font-size: 35px;
    width: unset;
    height: unset;
  }
}

@media screen and (max-width: 600px) {
  .container {
    right: 0;
    bottom: 0;

    .help-button {
      right: 20px;
      bottom: 20px;
    }
  }

  .help-content {
    max-width: none;
    margin: 20px;
  }
}
