mat-sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 36px;
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-topics {
  width: 250px;
}

.nav-tasks {
  width: 180px;
}

mat-sidenav-content {
  padding: 16px 32px;
}

.active-list-item {
  color: #673ab7 !important; /* Note: You could also use a custom theme */
}

.accepted {
  color: lightgreen;
}
