<mat-sidenav-container>
  <mat-sidenav class="nav-topics" mode="side" opened disableClose>

    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let topic of topics">
        <mat-expansion-panel-header expandedHeight="48px" class="panel-header-title-custom">

          <mat-panel-title *ngIf="!hasAvailableSubtopics(topic.subtopics)" class="title-lock">
            <div class="black">
              {{topic.name}}
            </div>
            <mat-icon class="topic-icon-lock">
              lock
            </mat-icon>
          </mat-panel-title>

          <mat-panel-title *ngIf="hasAvailableSubtopics(topic.subtopics)" class="panel-header-title-custom-available">
            <div class="title-topic">
              {{topic.name}}
            </div>
            <mat-icon *ngIf="getAcceptedInTopic(topic.subtopics)" class="green-check-topic">
              check
            </mat-icon>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-nav-list *ngFor="let subtopic of topic.subtopics">

          <mat-list-item *ngIf="availableSubtopics.has(subtopic.id)"
                         [routerLink]="'subtopic/' + subtopic.id"
                         routerLinkActive="active-list-item">
            <div mat-line>
              {{subtopic.name}}
            </div>
            <mat-icon *ngIf="getAcceptedInSubtopic(subtopic)" class="green-check-subtopic">
              check
            </mat-icon>
          </mat-list-item>

          <mat-list-item *ngIf="!availableSubtopics.has(subtopic.id)"
                         mat-list-item title="Выполните задания предыдущего урока"
                         class="poster">
            <div mat-line>
              {{subtopic.name}}
            </div>
            <mat-icon class="descr">
              lock
            </mat-icon>
          </mat-list-item>
        </mat-nav-list>

      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="example-button-row, icons-progress">
      <a mat-flat-button
         class="left-icons-progress"
         [routerLink]="'subtopic/' + subtopicId"
         [class.active-button-item]="!taskId && !questionId">
        <mat-icon>description</mat-icon>
      </a>

      <a *ngFor="let question of questions">
        <a *ngIf="!acceptedQuestions.has(question.id)"
           mat-flat-button
           [routerLink]="'subtopic/' + subtopicId + '/question/' + question.id"
           routerLinkActive="active-button-item">
          <mat-icon>live_help</mat-icon>
        </a>

        <a *ngIf="acceptedQuestions.has(question.id) && acceptedQuestions.get(question.id)"
           mat-flat-button class="green"
           [routerLink]="'subtopic/' + subtopicId + '/question/' + question.id"
           routerLinkActive="active-button-item">
          <mat-icon>live_help</mat-icon>
        </a>

        <a *ngIf="acceptedQuestions.has(question.id) && !acceptedQuestions.get(question.id)"
           mat-flat-button class="red"
           [routerLink]="'subtopic/' + subtopicId + '/question/' + question.id"
           routerLinkActive="active-button-item">
          <mat-icon>live_help</mat-icon>
        </a>
      </a>

      <a *ngFor="let task of tasks">
        <a *ngIf="!acceptedTasks.has(task.id)"
           mat-flat-button
           [routerLink]="'subtopic/' + subtopicId + '/task/' + task.id"
           routerLinkActive="active-button-item">
          <mat-icon>extension</mat-icon>
        </a>

        <a *ngIf="acceptedTasks.has(task.id) && acceptedTasks.get(task.id)"
           mat-flat-button class="green"
           [routerLink]="'subtopic/' + subtopicId + '/task/' + task.id"
           routerLinkActive="active-button-item">
          <mat-icon>extension</mat-icon>
        </a>

        <a *ngIf="acceptedTasks.has(task.id) && !acceptedTasks.get(task.id)"
           mat-flat-button class="red"
           [routerLink]="'subtopic/' + subtopicId + '/task/' + task.id"
           routerLinkActive="active-button-item">
          <mat-icon>extension</mat-icon>
        </a>
      </a>
    </div>
    <div class="top-text">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-chat></app-chat>
