mat-sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 36px;
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-topics {
  width: 280px;
}

.nav-tasks {
  width: 180px;
}

mat-sidenav-content {
  padding: 16px 32px;
}

.active-list-item {
  color: #673ab7 !important; /* Note: You could also use a custom theme */
}

.accepted {
  color: lightgreen;
}

@media screen and (max-width: 992px) {
  mat-sidenav-container {
    position: relative;
    top: 0;
  }

  mat-sidenav {
    position: relative;
    margin-bottom: 2px;
  }

  mat-sidenav-content {
    margin: 0 !important;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
    clear: both;
    padding: 16px;
  }

  .nav-topics, .nav-tasks {
    max-width: 300px;
    min-width: 250px;
  }

  .nav-tasks {
    float: right;
  }
}

::ng-deep .mat-expansion-panel-header {
  padding: 0 16px !important;
  font-size: 16px !important;
  height: 48px !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-list-base {
  padding-top: 0 !important;
}

::ng-deep .mat-list-item-content {
  padding: 0 0 0 36px !important;
}
