<mat-sidenav-container>
  <mat-sidenav class="nav-topics" mode="side" opened disableClose>

    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let topic of topics">
        <mat-expansion-panel-header >
          <mat-panel-title>
            {{topic.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list *ngFor="let subtopic of topic.subtopics">
          <a mat-list-item [routerLink]="'subtopic/' + subtopic.id" routerLinkActive="active-list-item">{{subtopic.name}} [{{getAccepted(subtopic.id)}} / {{getTotal(subtopic.id)}}]</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav class="nav-tasks" mode="side" opened disableClose position="end">

    <mat-nav-list>
      <a mat-list-item [routerLink]="'subtopic/' + subtopicId" [class.active-list-item]="!taskId">Теория</a>
    </mat-nav-list>

    <mat-nav-list *ngFor="let question of questions">
      <a mat-list-item [routerLink]="'subtopic/' + subtopicId + '/question/' + question.id" routerLinkActive="active-list-item">
        {{question.title}}
      </a>
    </mat-nav-list>

    <mat-nav-list *ngFor="let task of tasks">
      <a mat-list-item [routerLink]="'subtopic/' + subtopicId + '/task/' + task.id" routerLinkActive="active-list-item">
        {{task.title}}
        <span class="accepted" *ngIf="acceptedTasks.has(task.id)">&nbsp;OK</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>


  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
