<mat-sidenav-container>
  <mat-sidenav class="nav-topics" mode="side" opened disableClose>

    <mat-accordion>
      <mat-expansion-panel [expanded]="isOpened(topic)" hideToggle *ngFor="let topic of topics">
        <mat-expansion-panel-header expandedHeight="48px" class="panel-header-title-custom">

          <mat-panel-title *ngIf="!hasAvailableSubtopics(topic.subtopics)" class="title-lock">
            <div class="black">
              {{topic.name}}
            </div>
            <mat-icon class="topic-icon-lock">
              lock
            </mat-icon>
          </mat-panel-title>

          <mat-panel-title *ngIf="hasAvailableSubtopics(topic.subtopics)" class="panel-header-title-custom-available">
            <div class="title-topic">
              {{topic.name}}
            </div>
            <mat-icon *ngIf="getAcceptedInTopic(topic.subtopics)" class="green-check-topic">
              check
            </mat-icon>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-divider></mat-divider>

        <mat-nav-list *ngFor="let subtopic of topic.subtopics">

          <mat-list-item *ngIf="availableSubtopics.has(subtopic.id)"
                         [routerLink]="'subtopic/' + subtopic.id"
                         routerLinkActive="active-list-item">
            <div mat-line>
              {{subtopic.name}}
            </div>
            <mat-icon *ngIf="getAcceptedInSubtopic(subtopic)" class="green-check-subtopic">
              check
            </mat-icon>
          </mat-list-item>

          <mat-list-item *ngIf="!availableSubtopics.has(subtopic.id)"
                         mat-list-item title="Выполните задания предыдущего урока"
                         class="poster">
            <div mat-line>
              {{subtopic.name}}
            </div>
            <mat-icon class="descr">
              lock
            </mat-icon>
          </mat-list-item>
        </mat-nav-list>

        <mat-divider></mat-divider>

      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-chat></app-chat>
