mat-sidenav-container {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  width: 50px;
}

.descr {
  display: none;
}

.mat-expansion-panel-header:hover {
  color: black;
}

mat-expansion-panel {
  .topic-icon-lock {
    display: none;
    margin: 0 0 0 auto;
  }

  .title-lock {
    position: relative;
    color: #808080;
    height: 24px;
    width: 24px;
  }

  .panel-header-title-custom {
    position: relative;

    .panel-header-title-custom-available {
      margin-right: 0;

      .title-topic {
        height: 24px;
      }

      .green-check-topic {
        color: lightgreen;
        margin: 0 16px 0 auto;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);

      .title-lock {
        color: black;
      }

      .topic-icon-lock {
        color: black;
        display: block;
      }
    }
  }

  mat-nav-list {
    .poster {
      position: relative;
      color: #808080;

      &:hover {
        color: black;
      }

      &:hover .descr {
        display: block;
        margin-right: 16px;
      }
    }
  }
}

.nav-topics {
  width: 320px;

  .green-check-lesson {
    color: lightgreen;
    margin-right: 16px;
  }

  .mat-expansion-panel-spacing {
    margin: 0;
  }

  .mat-expansion-panel-header {
    padding: 0 0 0 16px;
    height: 48px;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0;
  }

  .mat-list-base {
    padding-top: 0;
  }

  ::ng-deep .mat-list-base .mat-list-item {
    font-size: 14px;
  }

  ::ng-deep .mat-nav-list .mat-list-item .mat-list-item-content {
    padding: 0 0 0 36px;

    .mat-line {
      white-space: normal;
    }
  }
}

.nav-tasks {
  width: 180px;
}

mat-sidenav-content {
  background-color: #f3f4f6;
}

.active-list-item {
  color: #673ab7; /* Note: You could also use a custom theme */
}

.accepted {
  color: lightgreen;
}

@media screen and (max-width: 992px) {
  mat-sidenav-container {
    position: relative;
    top: 0;

    .nav-topics {
      width: 100%;
    }
  }

  mat-sidenav {
    position: relative;
    margin-bottom: 2px;
  }

  mat-sidenav-content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
    clear: both;
    margin-left: 0 !important;
  }

  .nav-tasks {
    float: right;
  }
}

.chat-tg {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 5;
}
