<app-task *ngIf="type === 'Task'"
          [problemId]="problemId"
          [lessonId]="lessonId">
</app-task>
<app-git-task *ngIf="type === 'GitTask' || type === 'GitManualTask'"
              [problemId]="problemId"
              [lessonId]="lessonId"
              [type]="type">
</app-git-task>
<app-option-question *ngIf="type === 'OptionQuestion'"
                     [problemId]="problemId"
                     [lessonId]="lessonId"
                     [moduleId]="moduleId">
</app-option-question>
<app-theory *ngIf="type === 'Theory'"
            [problemId]="problemId"
            [lessonId]="lessonId">
</app-theory>

<app-input-question *ngIf="type === 'InputQuestion'"
            [problemId]="problemId"
            [lessonId]="lessonId">
</app-input-question>

<app-feedback-problem *ngIf="type === 'FeedbackProblem'"
            [problemId]="problemId"
            [lessonId]="lessonId">
</app-feedback-problem>
