<mat-card appearance="raised" class="dialog">
  <mat-card-title>
    {{event.meta.eventTitle}}
  </mat-card-title>
  <mat-card-content>
    {{event.meta.eventDescription}}
  </mat-card-content>
  <mat-card-content>
    {{event.start | date: 'dd MMMM yyyy HH:mm': null: 'ru'}}
  </mat-card-content>
  <mat-card-content>
    <a href="{{event.meta.eventConferenceLink}}">Ссылка на встречу</a>
  </mat-card-content>
  <mat-card-content>
    Список участников: {{event.meta.eventParticipants}}
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!sending" mat-flat-button
            (click)="confirm(event.meta.appointmentId)"
            [matTooltip]="'Удалить'">
      <mat-icon>
        <span class="icon"> delete </span>
      </mat-icon>
    </button>
    <span *appSpinOn="sending"></span>
    <button *ngIf="!sending" mat-flat-button
            (click)="usePatchDialog()"
            [matTooltip]="'Изменить'">
      <mat-icon>
        <span class="icon"> edit </span>
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

