.cal-hour-segment {
  size: 10px;
}

.mat-tooltip {
  max-width: unset !important;
  font-size: 10px;
  line-height: 16px;
  vertical-align: top;
  padding: 0 16px 0 5px;
  text-align: left;
  margin-left: 10px;
}

.change-week-button {
  margin-right: 5px;
  width: 20px;
}

.today-button {
  width: 30px;
}

.time-icon {
  background-color: #f5f5f5;
  margin-left: 20px;
  max-width: 30px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-toolbar {

  .month-header {
    overflow: hidden;
    text-overflow: fade;
  }

  @media screen and (max-width: 700px) {
    .month-header {
      display: none;
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.mentors {
  font-size: 14px;
  max-width: 145px;
  padding-bottom: 0;
}

.cal-week-view {
  //margin: 0 20px 10px 20px;
  font-size: 12px;

  .cal-header.cal-today {
    color: white;
    background-color: #1a73e8;
  }

  .cal-day-headers {
    padding-left: 50px;
    font-size: 17px;
  }

  .cal-day-headers span {
    font-size: 26px;
  }

  .cal-time-events {
    .cal-event {
      font-size: 11px;
      line-height: normal;
    }
  }

  .cal-time {
    padding-top: 0;
    width: 50px;
    font-size: 11px;
  }

  .cal-time-label-column {
    width: 50px;
  }
}

.example-container {
  //border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  //display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 15px 0 15px;
}
.example-sidenav {
  user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding: 0 15px 0 15px;
}
.submenu.expanded {
  transform: scaleY(1);
}
