.input-question {
  box-sizing: border-box;
  padding: 10px 0 0 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  max-width: 732px;

  .button {
    padding: 10px 0 10px;
  }
}
.problem-status {
  height: 38px;

  .verdict {
    display: flex;
    flex-direction: row;

    .verdict-content {
      font-weight: 500;

      span {
        font-weight: 400;
        color: #828282;
      }
    }

    .verdict-content.true {
      color: green;
    }

    .verdict-content.false {
      color: red;
    }
  }
}
.button {
  margin: 10px 0;

  button {
    margin-right: 10px;
  }
}
