<div class="question" *ngIf="problem">
  <div class="question-content" [innerHTML]="problem.text | marked"></div>
  <h2>Выберите все правильные варианты ответа:</h2>
  <ul class="answers">
    <li *ngFor="let answer of problem.answers">
      <mat-checkbox [(ngModel)]="answer.selected"
                    color="primary"
                    (ngModelChange)="onSelectAnswer()"
                    [disabled]="disabledCheckBox">
        <div class="answer-content" [innerHTML]="answer.text | marked"></div>
      </mat-checkbox>
    </li>
  </ul>
  <div style="height: 35px;">
    <div *ngIf="userAnswer != null" style="display: flex; flex-direction: row">
      <div class="verdict" [ngClass]="userAnswer.right ? 'true' : 'false'">
        <div *ngIf="bestLastUserAnswer.best.right && !bestLastUserAnswer.last.right">
          Неверный ответ.
          <span>
          {{'Последний правильный ответ дан ' + (bestLastUserAnswer.best.createdDate | date:'dd MMMM yyyy':null:'ru')}}
          </span>
        </div>

        <div *ngIf="bestLastUserAnswer.last.right">
          Правильный ответ
          <span>
            {{'дан ' + (bestLastUserAnswer.last.createdDate | date:'dd MMMM yyyy':null:'ru')}}
          </span>
        </div>

        <div *ngIf="!bestLastUserAnswer.last.right && !bestLastUserAnswer.best.right">
          Неверный ответ
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!sending">
    <app-next-step *ngIf="userAnswer && userAnswer.right" [problemId]="problemId"
                   [lessonId]="lessonId"></app-next-step>
    <button *ngIf="userAnswer === null" mat-raised-button color="primary" (click)="send()" [disabled]="disabledButton">
      Отправить
    </button>
    <button *ngIf="userAnswer !== null" mat-raised-button color="primary" (click)="reset()">Решить снова</button>
  </div>
  <div *ngIf="sending">
    <mat-spinner diameter="35"></mat-spinner>
  </div>
</div>
