.question {
  max-width: 1000px;
}

.verdict {
  padding-right: 16px;
  font-weight: 500;
}
.verdict.true {
  color: green;
}
.verdict.false {
  color: red;
}

ul.answers {
  list-style-type: none;
  padding: 0;

  li:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.20);
  }

  li {
    label {
      padding: 1em 0;
    }

    label, .answer-content {
      padding-left: 8px;
      width: 100%;
    }

    .mat-checkbox-inner-container {
      margin: 4px 0 auto 0;
    }
  }
}

pre {
  padding: 10px;
  margin: 0;
  background-color: white;
}
