<div class="question" *ngIf="question">
  <div class="question-content" [innerHTML]="question.text | marked"></div>
  <ul class="answers">
    <li *ngFor="let answer of question.answers">
      <mat-checkbox [(ngModel)]="answer.selected"
                    color="primary"
                    (ngModelChange)="onSelectAnswer()"
                    [disabled]="disabledCheckBox">
        <div class="answer-content" [innerHTML]="answer.text | marked"></div>
      </mat-checkbox>
    </li>
  </ul>
  <div style="height: 35px">
    <div class="verdict" [ngClass]="userAnswer.right ? 'true' : 'false'" *ngIf="userAnswer != null">
      {{userAnswer.right ? 'Правильно' : 'Неверный ответ'}}
    </div>
  </div>

  <app-next-step *ngIf="userAnswer && userAnswer.right" [questionId]="questionId" [subtopicId]="subtopicId"></app-next-step>
  <button *ngIf="userAnswer === null" mat-raised-button color="primary" (click)="send()" [disabled]="disabledButton">Отправить</button>
  <button *ngIf="userAnswer !== null" mat-raised-button color="primary" (click)="reset()">Решить снова</button>

</div>
