.question {
  max-width: 732px;
  margin: 10px 0 0 10px;

  .question-content {
    font-size: 16px;
  }
}

.problem-status {
  height: 38px;

  .verdict {
    display: flex;
    flex-direction: row;

    .verdict-content {
      font-weight: 500;

      span {
        font-weight: 400;
        color: #828282;
      }
    }

    .verdict-content.true {
      color: green;
    }

    .verdict-content.false {
      color: red;
    }
  }
}

ul.answers {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .20);
  }

  li {
    label {
      padding: 10px 0;
    }

    .answer-content {
      margin-left: 5px;

      p {
        white-space: break-spaces;
      }
    }

    label, .answer-content, .mat-checkbox-label {
      width: 100%;
    }

    .mat-checkbox-inner-container {
      margin: 4px 0 auto 0;
    }
  }
}

.button {
  margin: 10px 0;

  button {
    margin-right: 10px;
  }
}
