.progress {
  display: flex;
  margin-left: 190px;
  margin-top: -3px;

  div {
    a {
      background-color: #828282;
    }
    .red {
      background-color: #cd6666;
    }
    .green {
      background-color: #66cd66;
    }

    .active-button-item {
      padding: 0;
      min-width: 30px;
      line-height: 26px;
      border: 2px solid rgba(255, 255, 255, 0.6);
    }
  }

  mat-icon {
    font-size: 24px;
  }
}

.mat-flat-button {
  color: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  min-width: 30px;
  line-height: 30px;
  padding: 0;
  margin-right: 5px;
}


