.progress {
  display: flex;
  height: 43px;

  div {
    display: flex;
    align-items: baseline;

    .green {
      background-color: #66cd66;
    }

    .blue {
      background-color: #66a6cd;
    }
  }
}

.mat-flat-button {
  color: rgba(0, 0, 0, 0.65);
  padding: 3px;
  min-width: 0;
  line-height: 0;

  &.active-button-item {
    border: 2px solid rgba(255, 255, 255, 0.9);
    padding: 1px;
  }
}

@media screen and (max-width: 992px) {
  .mat-flat-button {
    padding: 8px;

    &.active-button-item {
      padding: 6px;
    }
  }
}

::-webkit-scrollbar {
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

