<div *ngIf="subtopicId" class="progress">
  <div>
    <a *ngIf="acceptedSubtopic"
       mat-flat-button class="green"
       [routerLink]="urlToSubtopic + subtopicId"
       [class.active-button-item]="!problemId"
       title="Теория">
      <mat-icon>description</mat-icon>
    </a>

    <a *ngIf="!acceptedSubtopic"
       mat-flat-button
       [routerLink]="urlToSubtopic + subtopicId"
       [class.active-button-item]="!problemId"
       title="Теория">
      <mat-icon>description</mat-icon>
    </a>
  </div>

  <div *ngFor="let problem of problems">
    <a *ngIf="!acceptedProblems.has(problem.id)"
       mat-flat-button
       [routerLink]="urlToSubtopic + subtopicId + '/' + url.PROBLEM + '/' + problem.id"
       [class.active-button-item]="problem.id === problemId"
       title="Задание">
      <mat-icon *ngIf="problem.type === 'QUESTION'">live_help</mat-icon>
      <mat-icon *ngIf="problem.type === 'TASK'">extension</mat-icon>
    </a>

    <a *ngIf="acceptedProblems.has(problem.id) && acceptedProblems.get(problem.id)"
       mat-flat-button class="green"
       [routerLink]="urlToSubtopic + subtopicId + '/' + url.PROBLEM + '/' + problem.id"
       [class.active-button-item]="problem.id === problemId"
       title="Задание">
      <mat-icon *ngIf="problem.type === 'QUESTION'">live_help</mat-icon>
      <mat-icon *ngIf="problem.type === 'TASK'">extension</mat-icon>
    </a>

    <a *ngIf="acceptedProblems.has(problem.id) && !acceptedProblems.get(problem.id)"
       mat-flat-button class="red"
       [routerLink]="urlToSubtopic + subtopicId + '/' + url.PROBLEM + '/' + problem.id"
       [class.active-button-item]="problem.id === problemId"
       title="Задание">
      <mat-icon *ngIf="problem.type === 'QUESTION'">live_help</mat-icon>
      <mat-icon *ngIf="problem.type === 'TASK'">extension</mat-icon>
    </a>
  </div>
</div>

