<div class="container">
  <button mat-fab
          color="accent"
          [class.answered]="messages.length && messages[messages.length - 1].owner === 'SUPPORT'"
          *ngIf="!isOpen"
          (click)="open()"
          title="Чат поддержки">
    <mat-icon>chat</mat-icon>
  </button>

  <div class="chat" *ngIf="isOpen">

    <div class="header">
      <button class="close-button" mat-icon-button (click)="close()" title="Закрыть">
        <mat-icon>close</mat-icon>
      </button>
      <div>
        Чат поддержки
      </div>
    </div>
    <div class="body">
      <as-split direction="vertical">
        <as-split-area [size]="80" minSize="20">
          <div class="messages" #messagesContainer>
            <div class="message">
              <p><b>ITMan</b>:<br>Привет! Это поддержка ITMan! Если что-то не получается — постараемся помочь.
                Пишите свой вопрос в чат и в течении 24 часов получите ответ.
                Если ответ нужен быстрее, то спросите у участников нашей группы:
                <a href="https://t.me/itman_community">@itman_community</a></p>
            </div>
            <div class="message" *ngFor="let message of messages">
              <p><b>{{getName(message.owner)}}</b>:<br>{{message.message}}</p>
            </div>
          </div>
        </as-split-area>
        <as-split-area class="input-field" [size]="20" minSize="20">
              <textarea matInput [(ngModel)]="message" placeholder="Задайте вопрос"
                        (keydown.enter)="send(); false">
              </textarea>
        </as-split-area>
      </as-split>
    </div>
  </div>
</div>

