.center {
  margin: 10% auto auto;
  max-width: 500px;
  padding: 0 5%;
}
.left-align {
  text-align: center;
}

header {
  mat-toolbar {
    background-color: black;
    padding: 30px
  }
  span {
    color: white;
    font-size: 2.1rem;
    font-weight: 300;
    margin-left: 15%
  }
}
