.progress {
  display: flex;
  align-items: center;
  margin: 5px;
}

.mat-card {
  overflow: auto;
}

.deadline {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.lesson {
  display: flex;
  align-items: center;
  padding: 5px;

  &:hover {
    background: rgba(0,0,0,.04);
  }
}

.title {
  width: 260px;
  cursor: pointer;
  padding: 10px;
  margin-right: 30px;

  &:active{
    outline: none;
  }
}

.problems {
  display: flex;
  flex-wrap: wrap;
}

.info {
  padding: 10px 0;
}

@media screen and (max-width: 992px) {
  .lesson {
    display: block;
  }

  .title {
    padding: 5px;
  }
}
