.center {
  margin: 10px auto auto;
  max-width: 550px;
  padding: 0 5%;
}

.profile {
  max-width: 550px;
  max-height: 100%;
}

.left-align {
  text-align: center;
}

.full-width {
  width: 100%;
}

table {
  width: 100%;
  margin-bottom: 10px;
}

th {
  text-align: left;
}

.box-button {
  height: 40px;
}

.mat-mdc-card {
  padding: 16px;
}
