.center {
  margin: 10% auto auto;
  max-width: 550px;
  padding: 0 5%;
}

.profile {
  max-width: 550px;
  max-height: 100%;
}

.left-align {
  text-align: center;
}

::ng-deep.mat-tab-header {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

::ng-deep mat-checkbox {
  label {
    margin-bottom: 20px;

    &.mat-checkbox-layout {
      white-space: normal;
      margin-top: 15px;
    }
  }
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  line-height: 21px;
}

table {
  width: 100%;
  margin-bottom: 10px;
}

th {
  text-align: left;
}

.box-button {
  height: 40px;
}
