<div class="center">
  <mat-card *ngIf="personal">
    <h1>Профиль</h1>
    <mat-form-field class="full-width">
      <mat-label>Имя</mat-label>
      <input [disabled]="true" [(ngModel)]="personal.name" matInput>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Эл. Почта</mat-label>
      <input [disabled]="true" [(ngModel)]="personal.email" matInput>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Телефон</mat-label>
      <input [disabled]="personal.phone"
             matInput
             name="phone"
             placeholder="Телефон"
             [(ngModel)]="personal.phone ? personal.phone : phone"
             prefix="+375 "
             mask="(00) 000-00-00"
             [showMaskTyped]="true">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Git Repository</mat-label>
      <input [disabled]="personal.repository"
             [(ngModel)]="personal.repository ? personal.repository : repository"
             matInput type="text"
             placeholder="nickname/repository" autocomplete="off">
    </mat-form-field>
    <p>Данные после сохранения нельзя изменить. Для повторного изменения обратитесь в тех. поддержку.</p>
    <div>
      <button (click)="send()" mat-flat-button color="primary" [disabled]="!(phone && repository)">Сохранить</button>
    </div>
  </mat-card>
</div>
