.center {
  height: 90%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profile {
  max-width: 550px;
  max-height: 100%;
}

.left-align {
  text-align: center;
}

::ng-deep.mat-tab-header {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

::ng-deep mat-checkbox {
  label {
    margin-bottom: 20px;

    &.mat-checkbox-layout {
      white-space: normal;
    }
  }
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  line-height: 21px;
}

.box-button {
  height: 40px;
}
