<div *ngIf="appointmentTypes">
  <h3>Типы слотов:</h3>
  <mat-checkbox [checked]="allComplete"
                color="primary"
                [indeterminate]="someComplete()"
                (change)="setAll($event.checked)"
               >
    Выбрать все
  </mat-checkbox>
</div>
<div *ngFor="let type of appointmentTypes">
  <mat-checkbox color="primary"
                [(ngModel)]="type.selected"
                (ngModelChange)="updateAllComplete()"
                (change)="addTypeId(type.id)">
    {{type.title}}
  </mat-checkbox>
</div>
