.icon {
  display: inline-flex;
  vertical-align: bottom;
  font-size: 28px;
  margin-right: 3px;
}

.rank-number {
  display: inline-block;
  font-size: 14px;
  vertical-align: bottom;
  font-weight: bold;
}

.rate {
  margin-left: 10px;
}

.red-badge {
  color: red;
}

.green-badge {
  color: #66cd66;
}

.yellow-badge {
  color: gold;
}

.default-badge {
  color: grey;
}

.color-black {
  color: #1a1b1f;
}




