<mat-card>
  <h1 mat-dialog-title *ngIf="telegramTokenLifetime">Ваш токен для регистрации</h1>
  <h1 mat-dialog-title *ngIf="!telegramTokenLifetime">Время действия токена истекло</h1>
  <div mat-dialog-content class="token">
    <p *ngIf="telegramTokenLifetime" style="font-size: 22px">
      <b>{{token.token}}</b>
    </p>
    <button class="button"
            *ngIf="!telegramTokenLifetime && !sending"
            (click)="requestTokenAgain()"
            mat-flat-button color="primary">Получить токен повторно
    </button>
    <div *appSpinOn="sending"></div>
  </div>
  <countdown mat-dialog-content class="countdown"
             *ngIf="telegramTokenLifetime"
             [config]="{leftTime: telegramTokenLifetime, format: 'Время действия токена mm:ss'}"
             (event)="onEvent($event)">
  </countdown>
  <div mat-dialog-content class="content" *ngIf="telegramTokenLifetime">
    Как привязать
    <ol>
      <li>Необходимо найти бот в поиске телеграма или пройти по ссылке
        <a href="https://t.me/itman_superbot">@itman_superbot</a></li>
      <li>Отправить сообщение <b>/confirm {{token.token}}</b></li>
    </ol>
  </div>
</mat-card>

