.center {
  height: 90%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.left-align {
  text-align: center;
}

.left {
  text-align: left;
  justify-content: left;
}

::ng-deep.mat-tab-header {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

th {
  text-align: left;
}

.box-button {
  height: 40px;
}

.button {
  text-align: left;
  height: 30px;
  padding-left: 0;
}
