<div *ngIf="appointmentTypes">
  <h1>Выберите типы слотов:</h1>
  <mat-checkbox [checked]="allComplete"
                color="primary"
                [indeterminate]="someComplete()"
                (change)="setAll($event.checked)">
    Выбрать все
  </mat-checkbox>
</div>
<div *ngFor="let type of appointmentTypes">
  <mat-checkbox color="primary"
                [(ngModel)]="type.selected"
                (ngModelChange)="updateAllComplete()"
                (change)="addTypeId(type.id)">
    {{type.title}}
  </mat-checkbox>
</div>
<div>
  <span *appSpinOn="sending"></span>
  <button *ngIf="data.isPlanningMode && !sending"
          class="button-create-delete"
          mat-raised-button
          color="primary"
          (click)="addSlotScheduleTimes()">
    Добавить в расписание
  </button>
  <button *ngIf="!data.isPlanningMode && !sending"
          class="button-create-delete"
          mat-raised-button
          color="primary"
          (click)="createSlots()">
    Создать
  </button>
  <button *ngIf="!sending"
          class="button-create-delete"
          mat-raised-button
          color="primary"
          (click)="confirm()">
    Удалить
  </button>
</div>
