<div class="wrapper">
  <div>
    <div>
      <div class="card" style="max-width: none; margin-top: 15px; height: auto;">
        <div class="card-img" style="background-color: #8c9fc9; background-size: cover;">
          <div>
            Личный план
          </div>
        </div>
        <div class="card-content" style="padding: 0">
          <div style="white-space: pre-wrap">
            <app-personal-plan-content></app-personal-plan-content>
          </div>
        </div>
      </div>
      <div>
        <div class="hover" (click)="send(module.id)" *ngFor="let module of modules">
          <div class="card">
            <div class="card-img" style="background-color: #{{module.color}}; background-size: cover;">
              <div style="color: {{brightness(module.color)}}">
                {{module.title}}
              </div>
            </div>
            <div class="card-content">
              <div style="white-space: pre-wrap">{{module.description}}</div>
              <div class="access">
                <div *ngIf="availableModules.has(module.id)">
                  {{countLessonsByModules.get(module.id) | i18nPlural: lessons:'ru'}},
                  {{countProblemsByModules.get(module.id) | i18nPlural: tasks:'ru'}}
                </div>
                <div *ngIf="!availableModules.has(module.id)">Недоступен</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
