<div class="wrapper">
  <div>
    <div>
      <div>

        <div class="hover">
          <div routerLink="java/lesson/{{linkLastLesson}}" class="card">
            <div class="card-img" style="background-color: #FCF6F6; background-size: cover;">
              <div style="color: black;">Основы алгоритмизации</div>
            </div>
            <div class="card-content">
              <div>Начни путь программиста.<br><br>
                Изучите основные алгоритмы и синтаксис Java.<br><br>
                В конце модуля Вы напишите свою первую игру — крестики нолики.
              </div>
            </div>
            <div class="access">
              <div>28 уроков, 102 задания</div>
            </div>
          </div>
        </div>

        <div (click)="send()" *ngFor="let content of dashboardContent" class="hover">
          <div class="card">
            <div class="card-img" style="background-color: {{content[1]}}; background-size: cover;">
              <div>
                {{content[0]}}
              </div>
            </div>
            <div class="card-content">
              <div style="white-space: pre-wrap">{{content[2]}}</div>
            </div>
            <div class="access">
              <div>Недоступен</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
