.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 360px;
  height: 270px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  transition-duration: 500ms;
  position: relative;
  background-color: white;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);

  .card-img {
    background-color: black;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: 500;
    text-align: center;
  }

  .card-content {
    flex: 1 1 auto;
    margin-top: 10px;
    padding: 0 10px;
    text-align: left;
  }

  .access {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px 10px 0;
    color: grey;
  }
}

div {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;

  & > div {
    display: flex;
    justify-content: center;

    & > div {
      width: 1140px;

      & > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5px;
      }
    }
  }
}

.hover {
  &:hover {
    .card {
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
      bottom: 5px;
      transition-duration: 300ms;
    }
  }
}
