.card {
  max-width: 360px;
  height: 270px;
  margin: 10px;
  overflow: hidden;
  transition-duration: 500ms;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);

  &.plan {
    max-width: none;
    margin-top: 15px;
    height: auto;
    cursor: default;
  }

  &.mat-card {
    padding: 0;

    .mat-card-header .mat-card-title {
      margin-bottom: 0;
    }
  }

  .card-img {
    height: 54px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
  }

  .card-content {
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .access {
    color: grey;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 50px);
  overflow: auto;

  H1 {
    margin-top: 40px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
  }

  & > div {
    display: flex;
    justify-content: center;

    & > div {
      width: 1140px;

      & > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
}

.hover {
  &:hover {
    .card {
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
      bottom: 5px;
      transition-duration: 300ms;
    }
  }
}
