@media screen and (max-width: 640px) {
  .warning {
    padding: 16px 16px;
    display: block !important;
  }
}

.spacer {
  flex: 1 1 auto;
}

@media screen and (max-width: 1060px) {
  app-personal-plan-progress {
    display: none;
  }
}

mat-toolbar {
  padding: 0;
  background-color: black;
  color: grey;
  height: 50px;

  .name {
    font-size: 16px;
    padding: 0 16px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mat-button:hover {
    color: lightgrey;
  }

  .active-button {
    color: lightgrey;
  }

  .logo-name {
    font-size: 15px;
    margin-left: 10px;
  }

  .logo {
    display: flex;
    align-items: center;
    color: white;

    mat-icon {
      margin-right: 2px;
    }
  }
}

.progress {
  margin-left: 160px;
}

@media screen and (max-width: 1280px) {
  .logo-name {
    display: none;
  }

  .progress {
    margin-left: 0;
  }
}
