<header>
  <mat-toolbar>
    <a routerLink="" mat-button class="logo"><mat-icon>home</mat-icon><span class="logo-name">Study ITman.by</span></a>
    <app-progress class="progress"></app-progress>
    <a class="spacer"></a>
    <app-personal-plan-progress></app-personal-plan-progress>
    <button *ngIf="personal" class="name" mat-button [mat-menu-trigger-for]="menu"><span class="hello">Привет, </span>{{personal.name.split(' ')[0]}}</button>
    <mat-menu #menu="matMenu">
      <button routerLink="plan" mat-menu-item><mat-icon>assignment</mat-icon>План</button>
      <button routerLink="/dashboard/profile" mat-menu-item><mat-icon>person</mat-icon>Профиль</button>
      <button (click)="logout()" mat-menu-item><mat-icon>door_back</mat-icon>Выход</button>
    </mat-menu>
  </mat-toolbar>
</header>
<b class="warning" style="display: none;">Рекомендую проходить обучение на компьютере</b>
<router-outlet></router-outlet>
