@media screen and (max-width: 992px) {
  .warning {
    padding: 16px 16px;
    display: block !important;
  }
}

.spacer {
  flex: 1 1 auto;
}

@media screen and (max-width: 600px) {
  .name {
    display: none;
  }
}

mat-toolbar {
  padding: 0;
  background-color: black;
  color: grey;
  height: 40px;
  .name {
    font-size: 16px;
    padding: 0 16px;
  }
  .mat-button:hover {
    color: lightgrey;
  }
  .active-button {
    color: lightgrey;
  }
  .mat-button {
    font-size: 15px;
  }
  .logo {
    display: flex;
    align-items: center;
    color: white;
    mat-icon {
      margin-right: 2px;
    }
  }
}

