@media screen and (max-width: 992px) {
  .warning {
    padding: 16px 16px;
    display: block !important;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding: 0;
  background-color: black;
  color: grey;
  height: 50px;

  .name {
    font-size: 16px;
    padding: 0 16px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mat-button:hover {
    color: lightgrey;
  }

  .active-button {
    color: lightgrey;
  }

  .logo-name {
    font-size: 15px;
    margin-left: 10px;
  }

  .logo {
    display: flex;
    align-items: center;
    color: white;

    mat-icon {
      margin-right: 2px;
    }
  }

  .progress {
    margin-left: 160px;
    overflow: auto;
  }

  @media screen and (max-width: 1150px) {
    .hello {
      display: none;
    }
  }

  @media screen and (max-width: 992px) {
    .logo-name {
      display: none;
    }

    .name {
      max-width: 120px;
    }

    .progress {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 600px) {
    app-personal-plan-progress {
      display: none;
    }
  }
}
