<div class="mat-elevation-z0">
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        {{column.columnDef}}
      </th>
      <td mat-cell *matCellDef="let element; let i = index" [matTooltip]="element.type.description">
        <mat-label *ngIf="column.columnDef === columns[0].columnDef"> {{element.type.name}}
        </mat-label>
        <mat-checkbox *ngIf="column.columnDef !== columns[0].columnDef" color="primary"
                      class="mat-elevation-z0"
                      (change)="element[column.columnDef] === null
                                ? subscribe(element.type.id, column.columnDef)
                                : unsubscribe(element[column.columnDef], i, column.columnDef)"
                      [checked]="isChecked(element[column.columnDef])"
                      [disabled]="sending">
        </mat-checkbox>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
