.mat-flat-button {
  color: rgba(0, 0, 0, 0.65);
  padding: 3px;
  min-width: 0;
  line-height: 0;

  &.active-button-item {
    border: 2px solid rgba(255, 255, 255, 0.9);
    padding: 1px;
  }
}

@media screen and (max-width: 992px) {
  .mat-flat-button {
    padding: 8px;

    &.active-button-item {
      padding: 6px;
    }
  }
}

.Rejected {
  background-color: #cd6666;
}

.Accepted {
  background-color: #66cd66;
}

.Available {
  background-color: #66a6cd;
}

.Processing {
  background-color: #f39543;
}

.mat-flat-button[disabled] {
  background-color: grey;
}
