<button mat-flat-button [ngClass]="status"
        [routerLink]="'/dashboard/module/' + moduleId + '/topic/' + topicId + '/problem/' + problemId"
        [class.active-button-item]="problemId === currentProblemId"
        [disabled]="!isAvailable"
        title="{{title[problemType]}}">
  <mat-icon *ngIf="problemType === 'OptionQuestion'">live_help</mat-icon>
  <mat-icon *ngIf="problemType === 'InputQuestion'">live_help</mat-icon>
  <mat-icon *ngIf="problemType === 'Task'">extension</mat-icon>
  <mat-icon *ngIf="problemType === 'GitTask'">extension</mat-icon>
  <mat-icon *ngIf="problemType === 'GitManualTask'">manage_accounts</mat-icon>
  <mat-icon *ngIf="problemType === 'Theory'">description</mat-icon>
  <mat-icon *ngIf="problemType === 'FeedbackProblem'">star_outline</mat-icon>
  <mat-icon *ngIf="problemType === 'ManualTask'">manage_accounts</mat-icon>
</button>
