.mdc-button {
  align-items: flex-start;
  display: inline-block;
  min-width: 30px;
}

.mat-mdc-unelevated-button > .mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  margin: 0;
}

.mat-mdc-unelevated-button.mat-mdc-button-base {
  height: 30px;
}


.mat-mdc-unelevated-button {
  color: rgba(0, 0, 0, 0.65);
  padding: 3px;


  &.active-button-item {
    border: 2px solid rgba(255, 255, 255, 0.9);
    padding: 1px;
  }
}

@media screen and (max-width: 992px) {
  .mat-mdc-unelevated-button {
    padding: 8px;

    &.active-button-item {
      padding: 6px;
    }
  }
  .mat-mdc-unelevated-button.mat-mdc-button-base {
    height: 38px;
  }
}

.Rejected {
  background-color: #cd6666;
}

.Accepted {
  background-color: #66cd66;
}

.Available {
  background-color: #66a6cd;
}

.Processing {
  background-color: #f39543;
}

.mat-mdc-unelevated-button[disabled] {
  background-color: grey;
}
