<button mat-flat-button [ngClass]="status"
        [routerLink]="'/dashboard/module/' + moduleId + '/lesson/' + lessonId + '/problem/' + problemId"
        [class.active-button-item]="problemId === currentProblemId"
        [disabled]="!isAvailable"
        title="{{title[problemType]}}">
  <mat-icon *ngIf="problemType === 'Question'">live_help</mat-icon>
  <mat-icon *ngIf="problemType === 'Task'">extension</mat-icon>
  <mat-icon *ngIf="problemType === 'GitManual'">extension</mat-icon>
  <mat-icon *ngIf="problemType === 'GitManualTask'">manage_accounts</mat-icon>
</button>
