@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$custom-typography: mat-typography-config(
  $subheading-1: mat-typography-level(14px, 21px),
  $body-1: mat-typography-level(14px, 21px),
  $button: mat-typography-level(14px, 21px)
);

@include mat-base-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

pre, code {
  font-family: "Roboto Mono", monospace;
  background-color: white;
  font-size: 12px;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 10px;
  margin: 0 0 12px 0;
  line-height: normal;

  code {
    padding: 0;
  }
}
