@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


code {
  padding: 5px;
}

code, pre {
  background-color: #fff;
}

pre {
  margin-top: 0;
  padding: 10px;
  code {
    padding: 0;
  }
}
