<div class="task" *ngIf="task">
  <div class="content" [innerHTML]="task.content | marked"></div>
  <div class="tests" *ngIf="task.tests.length">
    <h2>Примеры</h2>
    <div class="test" *ngFor="let test of task.tests, let i = index">
      <p *ngIf="task.tests.length > 1"><b>Пример {{i + 1}}</b></p>
      <i>Входные данные</i>
      <pre class="data">{{test.input}}</pre>
      <i>Выходные данные</i>
      <pre class="data">{{test.output}}</pre>
      <hr>
    </div>

    <div class="send">
      <h2>Отправить решение</h2>
      <div class="ace-container">
        <ace mode="java" theme="github"
             [(value)]="solution"
             (valueChange)="editSubject.next($event)"></ace>
      </div>
      <button mat-raised-button color="primary" (click)="send()" [disabled]="isSendDisabled()"
              *ngIf="!(sending || running)">Отправить
      </button>


      <mat-spinner *ngIf="(sending || running)" diameter="35"></mat-spinner>
    </div>

    <div *ngFor="let hint of hints">
      <mat-card class="card" [innerHTML]="hint.text | marked"></mat-card>
    </div>

    <form class="example-form">
      <button *ngIf="this.task.numberHints !== this.hints.length" mat-raised-button color="accent" (click)="sendHint()">Взять подсказку</button>
      <button *ngIf="this.task.numberHints === this.hints.length" mat-raised-button [disabled]="true">Нет подсказок</button>
    </form>

    <div class="submissions" *ngIf="submissions && submissions.length">
      <table mat-table [dataSource]="submissions">

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Статус</th>
          <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>

        <ng-container matColumnDef="wrongTest">
          <th mat-header-cell *matHeaderCellDef>Непройденный тест</th>
          <td mat-cell
              *matCellDef="let element">{{element.wrongTest ? element.wrongTest + ' / ' + task.totalTests : ''}}</td>
        </ng-container>

        <ng-container matColumnDef="maxExecutionTime">
          <th mat-header-cell *matHeaderCellDef>Время выполнения</th>
          <td mat-cell *matCellDef="let element">{{element.maxExecutionTime}} мс</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
          <td mat-cell *matCellDef="let row">
            <button mat-button *ngIf="showMore(row)" (click)="seeMore(row)">Подробнее</button>
            <mat-spinner *ngIf="isRunning(row)" diameter="16"></mat-spinner>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
