.task {
  max-width: 1000px;
  width: 100%;
}

.test .data {
  font-family: "Roboto Mono", monospace;
  background-color: #fff;
  padding: 10px;
}

.send textarea {
  font-family: "Roboto Mono", monospace;
  width: 100%;
}

.submissions table {
  margin-top: 10px;
  width: 100%;
}

.button-hint-bottom {
  display: flex;
  justify-content: flex-end;
}

.as-split-gutter {
  height: revert !important;
}

.area-task {
  margin: 10px 0 0 10px;
}

.hint {
  display: flex;
  justify-content: flex-end;

  .hint__inner {
    bottom: 10px;
    position: absolute;
  }
}

.code {
  background-color: #e8e8e8;
  font-size: 12px;
  font-weight: 500;
}

.input-and-output {
  background-color: #e8e8e8;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  word-break: break-all;
  height: 20px;
}

.full-height {
  height: 100%;
  overflow: hidden;
}

.input-textarea, .output-textarea {
  font-family: "Roboto Mono", monospace;
  padding: 0;
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  height: calc(100% - 21px);
  font-size: 12px;
}

.ace {
  height: 100%;
}

.area-input-and-output {
  height: calc(100% - 20px);
  background-color: white;
}

.result {
  white-space: nowrap;
  bottom: 10px;
  position: absolute;

  a {
    cursor: pointer;
    text-decoration: underline;
    color: #673ab7;
  }
}

.closed {
  overflow: hidden !important;
}
