.task {
  max-width: 800px;
}

.test .data {
  font-family: monospace;
  background-color: #fff;
  padding: 10px;
}

.send textarea {
  font-family: monospace;
  width: 100%;
}

.submissions table {
  width: 100%;
}

code {
  background-color: #fff;
  padding: 4px;
}

