<div class="task" *ngIf="task">
  <div class="content" [innerHTML]="task.content | marked"></div>
  <div class="tests" *ngIf="task.tests.length">
    <h2>Примеры</h2>
    <div class="test" *ngFor="let test of task.tests">
      <i>Входные данные</i>
      <pre class="data">{{test.input}}</pre>
      <i>Выходные данные</i>
      <pre class="data">{{test.output}}</pre>
      <hr>
    </div>
    <div class="send">
      <h2>Отправить решение</h2>
      <textarea [(ngModel)]="solution" rows="15" placeholder="public class Task{{task.id}} {&#10;    public static void main(String[] args) {&#10;&#10;    }&#10;}"></textarea>
      <button mat-raised-button color="primary" (click)="send()" [disabled]="sending || running">Отправить</button>
    </div>
    <hr>
    <div class="submissions" *ngIf="submissions && submissions.length">
      <table mat-table [dataSource]="submissions">

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Статус</th>
          <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>

        <ng-container matColumnDef="wrongTest">
          <th mat-header-cell *matHeaderCellDef>Непройденный тест</th>
          <td mat-cell *matCellDef="let element">{{element.wrongTest ? element.wrongTest + ' / ' + task.totalTests : ''}}</td>
        </ng-container>

        <ng-container matColumnDef="maxExecutionTime">
          <th mat-header-cell *matHeaderCellDef>Время выполнения</th>
          <td mat-cell *matCellDef="let element">{{element.maxExecutionTime}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
          <td mat-cell *matCellDef="let row"><button mat-button *ngIf="showMore(row)">Подробнее</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="seeMore(row)"></tr>
      </table>
    </div>
  </div>
</div>
