<div>
  <as-split unit="percent" direction="horizontal" (dragEnd)="dragEndWindow('percent', $event)">
    <as-split-area minSize="30" size="{{taskPageAreas.windowLeft}}">
      <div class="task" *ngIf="problem">

        <div style="height: {{size - 85}}px;">
          <as-split useTransition="true" disabled="{{!panelOpenState}}" unit="percent" direction="vertical"
                    (dragEnd)="dragEndLeft('percent', $event)">
            <as-split-area minSize="20" size="90" #areaTask="asSplitArea">
              <div class="area-task">
                <div class="content" [innerHTML]="problem.text | marked"></div>
                <div class="tests" *ngIf="problem.tests.length">
                  <h2>Примеры</h2>
                  <div class="test" *ngFor="let test of problem.tests, let i = index">
                    <p *ngIf="problem.tests.length > 1"><b>Пример {{i + 1}}</b></p>
                    <i>Входные данные</i>
                    <pre class="data">{{test.input}}</pre>
                    <i>Выходные данные</i>
                    <pre class="data">{{test.output}}</pre>
                  </div>
                </div>
              </div>
            </as-split-area>
            <as-split-area [class.closed]="!panelOpenState" minSize="20" size="10" #areaHint="asSplitArea">
              <mat-accordion multi [style.display]="hints.length > 0 ? 'block' : 'none'">
                <mat-expansion-panel style="margin: 10px 0; box-shadow: none; background: none;"
                                     (opened)="openedPanelHints()"
                                     (closed)="closedPanelHints()">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="button-hint-bottom">
                      подсказки
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div *ngFor="let hint of hints">
                    <p [innerHTML]="hint.text | marked"></p>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>

            </as-split-area>
          </as-split>
        </div>

      </div>

      <div class="hint">
        <div class="hint__inner">
          <div *ngIf="this.problem && hints.length === 0">
            <button *ngIf="this.problem.hintsCount !== this.hints.length" mat-raised-button color="accent"
                    (click)="sendHint();">
              Взять подсказку
            </button>
            <button *ngIf="this.problem.hintsCount === this.hints.length" mat-raised-button [disabled]="true">
              Нет подсказок
            </button>
          </div>

          <div *ngIf="hints.length !== 0" class="button-hint-bottom">
            <button mat-raised-button color="accent" (click)="sendHint();"
                    [disabled]="this.problem && this.problem.hintsCount === this.hints.length && panelOpenState">
              {{panelOpenState ? (this.problem.hintsCount === this.hints.length ? 'Нет подсказок' : 'Взять подсказку') : 'Открыть подсказки'}}
            </button>
          </div>
        </div>
      </div>

    </as-split-area>

    <as-split-area minSize="40" size="{{taskPageAreas.windowRight}}">
      <div style="height: {{size - 160}}px;">
        <as-split unit="percent" direction="vertical" (dragEnd)="dragEnd('percent', $event)">
          <div class="code">
            Код
          </div>
          <as-split-area minSize="20" size="{{taskPageAreas.ace}}">
            <div class="ace">
              <ace mode="java" theme="github"
                   [(value)]="solution"
                   (valueChange)="editSubject.next($event)">
              </ace>
            </div>
          </as-split-area>
          <as-split-area minSize="20" size="{{taskPageAreas.inputAndOutput}}">
            <div class="area-input-and-output">
              <as-split unit="percent" direction="horizontal" (dragEnd)="dragEndInputAndOutput('percent', $event)">
                <as-split-area style="overflow: hidden;" minSize="20" size="{{taskPageAreas.input}}">
                  <div class="input-and-output">Входные данные</div>
                  <textarea name="text" [(ngModel)]="input"
                            class="input-textarea">
                  </textarea>
                </as-split-area>
                <as-split-area minSize="20" size="{{taskPageAreas.output}}">
                  <div class="input-and-output">Результат запуска</div>
                  {{output}}
                </as-split-area>
              </as-split>
            </div>

          </as-split-area>
        </as-split>
      </div>

      <div class="result">
        <p *ngIf="bestLastSubmission && bestLastSubmission.last">
          Последний результат:
          <a
            (click)="seeMore(bestLastSubmission.last)">
            {{bestLastSubmission.last.status === 'ACCEPTED' ? 'ACCEPTED' : bestLastSubmission.last.status + ' (тест ' + bestLastSubmission.last.wrongTest + '/' + problem.totalTests + ')'}}
            {{bestLastSubmission.last.sentDate | date:'dd MMMM yyyy':null:'ru'}}.</a>
          <span *ngIf="!(bestLastSubmission.last.id === bestLastSubmission.best.id)">
            <br>Лучший результат:
          <a
            (click)="seeMore(bestLastSubmission.best)">
            {{bestLastSubmission.best.status === 'ACCEPTED' ? 'ACCEPTED' : bestLastSubmission.best.status + ' (тест ' + bestLastSubmission.best.wrongTest + '/' + problem.totalTests + ')'}}
            {{bestLastSubmission.best.sentDate | date:'dd MMMM yyyy':null:'ru'}}</a>.
          </span>
        </p>

        <div class="panel-button">
          <div *ngIf="!(sending || running)">
            <button mat-raised-button (click)="send()"
                    [disabled]="isSendDisabled()"
                    color="primary">Проверить
            </button>
            <button class="button" mat-raised-button (click)="run()"
                    [disabled]="isSendDisabled()"
                    color="primary">Запустить
            </button>
            <app-next-step class="button" *ngIf="status" [problemId]="problemId" [lessonId]="lessonId"></app-next-step>
          </div>
          <div *ngIf="(sending || running)">
            <mat-spinner diameter="35"></mat-spinner>
          </div>
        </div>
      </div>

    </as-split-area>
  </as-split>
</div>
