.task {
  max-width: 800px;
}

.test .data {
  font-family: monospace;
  background-color: #fff;
  padding: 10px;
}

.send textarea {
  font-family: monospace;
  width: 100%;
}

.submissions table {
  width: 100%;
}

code {
  background-color: #fff;
  padding: 4px;
}

.ace-container {
  height: 300px;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .submissions table {
    th:nth-child(3), td:nth-child(3) {
      display: none;
    }

    th:nth-child(2), td:nth-child(2) {
      max-width: 75px;
    }

  }
}

.card {
  margin-bottom: 5px;
}

.example-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.example-form > * {
  width: 100%;
}
